@import './styles.scss';

// ==== Default config ====

body, html {
  font-family: 'Hind', sans-serif;
  background-color: #2c2c2c;
  background-image: url('/public/images/noise.png');
  background-repeat: repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #ffffff;
  max-width: 1100px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
}

// ==== The buttons ====

.btn {
  display: block;
  width: max-content;
  margin: 0.4rem;
  padding: 0.8rem 1.4rem;
  border-radius: $border-radius;
  color: map-get($colors, 'btn-text-color');
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all .12s;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 0 3px rgba(map-get($colors, 'accent'), 0.4);
  }

  &:active {
    transform: scale(0.98);
  }
}

.btn-primary {
  background-color: map-get($colors, 'primary');

  &:hover {
    background-color: map-get($colors, 'secondary');
  }
}

.btn-secondary {
  background-color: map-get($colors, 'secondary');

  &:hover {
    background-color: map-get($colors, 'accent');
  }
}

.btn-accent {
  background-color: map-get($colors, 'accent');

  &:hover {
    background-color: map-get($colors, 'bright');
  }
}

.btn-error {
  background-color: #e72d2d;

  &:hover {
    background-color: #c92828;
    box-shadow: 0 0 0 3px rgba(#e72d2d, 0.4);
  }
}

.btn-white {
  background-color: #f2f2f2;

  &:hover {
    background-color: #e6e6e6;
    box-shadow: 0 0 0 3px rgba(#ffffff, 0.4);
  }
}

// ==== The default page elements ====

h2, h3, legend {
  color: map-get($colors, 'text-title');
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  margin: 1rem 2.5rem;

  &::before {
    content: '•';
    margin-right: 0.5rem;
    color: map-get($colors, 'primary');
  }
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px dotted #cacaca;
}

.form-error {
  background-color: rgba(map-get($colors, 'primary'), 0.4);
  border: 1px solid rgba(map-get($colors, 'primary'), 0.4);
  padding: 1rem;
  margin: 1rem;
  border-radius: $border-radius;

  & > p {
    color: map-get($colors, 'primary');
  }

  & > .form-error__title {
    font-weight: bold;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Lora', serif;
    margin-bottom: 1.2rem;
  }

  & > .form-error__description {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 500;
  }
}

.form {
  & > .form__fieldset-outline {
    padding: 1rem;
    margin: 1rem;
    border: 1px dotted #cacaca;
  }

  & > .form__fieldset {
    margin: 1rem;

    & > legend {
      margin-left: 0.5rem;
      margin-bottom: 1rem;
    }

    & > p {
      color: map-get($colors, 'text-muted');
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1.2rem;

      & > span {
        color: map-get($colors, 'primary');
      }
    }

    & > .form-input__error {
      color: #e72d2d;
      font-size: 0.8rem;
      margin: 0;
      font-weight: 500;
      margin-top: 0.2rem;
    }

    & > .form-input__checkbox {
      & > label {
        color: #4e4e4e;
        display: inline-block;
        font-style: 0.9rem;
        vertical-align: middle;
      }

      & > input {
        display: inline-block;
        vertical-align: middle;
      }
    }

    & > .form-input {
      position: relative;
      display: block;
      width: calc(100% - 1rem);

      & > label {
        position: absolute;
        transform: translateY(-50%);
        left: 0.7rem;
        font-size: 0.9rem;
        background-color: #ffffff;
        padding: 0rem 0.1rem;
        font-family: sans-serif;
        transition: all .12s;
        font-weight: 500;
        color: #4e4e4e;
      }

      & > input + label {
        top: 50%;
      }

      & > textarea + label {
        top: 1rem;
      }

      & > input, & > textarea {
        width: calc(100% - 2 * 0.7rem);
        padding: 0.7rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #bebebe;
        border-radius: $border-radius;
        margin: 1px;

        &:focus {
          border: 2px solid map-get($colors, 'primary');
          margin: 0;
        }

        &:focus + label {
          color: map-get($colors, 'primary');
        }

        &:focus + label, &:valid + label {
          top: 0;
          font-size: 0.7rem;
        }

        &:focus:not(:valid) + label
        {
          top: 0;
          font-size: 0.7rem;
        }

        &:invalid + label
        {
          font-size: 0.7rem;
          color: #ff0000;
        }


        &:invalid
        {
          border: 2px solid #ff0000;
          margin: 0;
          outline: none;
        }
      }

      &:not(:first-child)
      {
        margin-top: 1.5rem;
      }
    }
  }
}

// ==== The navigation ====

.wrapper-nav__banner {
  background-image: url('/public/images/nav-bg.jpg');
  height: 220px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  & > h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6%;
    font-size: 2.2rem;
    color: #f2f2f2;
    font-family: 'Lora', serif;
    font-weight: 900;
    border-left: 3px solid #f2f2f2;
    padding-left: 1.2rem;
    user-select: none;
    pointer-events: none;
  }
}

.wrapper-nav__topbar {
  background-color: map-get($colors, 'secondary');
  padding: 0.5rem;

  & > ul {
    & > li {
      display: inline-block;

      & > a {
        display: block;
        padding: 0.5rem;
        border-radius: $border-radius;
        font-size: 0.9rem;
        color: #2c2c2c;
        text-decoration: none;
        font-weight: 900;
        background-color: #ffffff;
      }
    }
  }
}

.wrapper-nav__bar {
  background-color: map-get($colors, 'primary');
  padding: 0.8rem 1rem;
  margin-bottom: 3.2rem;

  @media only screen and (min-width: 900px) {
    display: flex;
    align-items: center;

    & > div {
      flex: 3;

      &:nth-child(2) {
        text-align: right;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    & > .wrapper-nav__bar__middle {
      margin-bottom: 1.2rem;
    }
  }

  & > .wrapper-nav__bar__right {
    & > ul {
      & > li {
        display: inline-block;

        & > a {
          margin: 0;
          padding: 0.4rem 1rem;
        }
      }
    }
  }

  & > .wrapper-nav__bar__middle {
    & > ul {
      & > li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 0.6rem;
        }

        &:not(:first-child)::before {
          content: '|';
          margin-right: 0.6rem;
          color: rgba(#ffffff, 0.3);
          font-weight: lighter;
          font-size: 1.2rem;
        }

        & > a {
          color: #dbdbdb;
          font-size: 1.2rem;
          font-weight: 500;
          transition: all .12s;
          text-decoration: none;

          &:hover {
            color: #ffffff;;
          }
        }
      }
    }
  }
}

// ==== The loader ====

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);

  & > .loader__bar {
    background-color: rgba(#f2f2f2, 0.4);
    height: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;

    & > .loader__bar-item {
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#ffffff, 0.7);
      animation: loaderBarItem .9s infinite;

      @keyframes loaderBarItem {
        0% {
          left: -20%;
          width: 20%;
        }

        100% {
          left: 100%;
          width: 100%;
        }
      }
    }
  }
}

// ==== The footer ====

.wrapper__footer {
  padding: 2rem 1rem;
  background-color: #f3f3f3;
  border-top: 1px solid #dadada;
  margin-top: 1rem;

  @media only screen and (min-width: 800px) {
    display: flex;

    & > div {
      flex: 2;
    }
  }
}

// ==== Error page ====

.error-wrapper {
  margin: 2rem 1rem;

  @media only screen and (min-width: 900px) {
    display: flex;

    & > div {
      flex: 2;
    }  
  }

  & > div {
    &:nth-child(1)
    {
      text-align: center;

      & > h2 {
        margin-left: 0;
      }

      & > h4 {
        color: map-get($colors, 'text-muted');
        font-style: 0.9rem;
        font-weight: 500;
      }
    }

    &:nth-child(2) {
      & > p {
        color: map-get($colors, 'primary');
        font-style: 0.9rem;
        font-weight: 400;
      }

      & > table {
        margin-top: 1.2rem;

        & > thead {
          & > tr {
            & > th {
              text-align: left;
              font-weight: 600;
              color: map-get($colors, 'text-title');
              font-size: 1.1rem;
            }
          }
        }

        & > tbody {
          & > tr {
            & > td {
              color: map-get($colors, 'text-subtitle');
            }
          }
        }
      }
    }
  }
}