@import './styles.scss';

// ==== Default config ====

body, html {
  font-family: 'Hind', sans-serif;
  background-color: #2c2c2c;
  background-image: url('/public/images/noise.png');
  background-repeat: repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #ffffff;
  max-width: 1100px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
}

// ==== The buttons ====

.btn {
  display: block;
  width: max-content;
  margin: 0.4rem;
  padding: 0.8rem 1.4rem;
  border-radius: $border-radius;
  color: map-get($colors, 'btn-text-color');
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all .12s;

  &:hover {
    box-shadow: 0 0 0 3px rgba(map-get($colors, 'accent'), 0.4);
  }

  &:active {
    transform: scale(0.98);
  }
}

.btn-primary {
  background-color: map-get($colors, 'primary');

  &:hover {
    background-color: map-get($colors, 'secondary');
  }
}

.btn-secondary {
  background-color: map-get($colors, 'secondary');

  &:hover {
    background-color: map-get($colors, 'accent');
  }
}

.btn-accent {
  background-color: map-get($colors, 'accent');

  &:hover {
    background-color: map-get($colors, 'secondary');
  }
}

.btn-white {
  background-color: #f2f2f2;

  &:hover {
    background-color: #e6e6e6;
    box-shadow: 0 0 0 3px rgba(#ffffff, 0.4);
  }
}

// ==== The default page elements ====

h2 {
  color: map-get($colors, 'text-title');
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  margin: 1rem 2.5rem;

  &::before {
    content: '•';
    margin-right: 0.5rem;
    color: map-get($colors, 'primary');
  }
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px dotted #cacaca;
}